@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    font-family: 'Norwester', sans-serif;
    font-size: 4.5vw;
    text-align: center; 
    width: 25vw;
}

hr {
    width: 18vw;
    border: 0.4vh solid white;
    border-radius: 5px;
}

.credits > a {
    color: white;
}

span {
    color: rgb(63, 92, 63);
    width: 47vw;
    font-size: max(16px, 1.75vw, 1.75vh);
    margin-left: 1.25em;
    display: block;
    font-family: 'Lato', sans-serif;
    letter-spacing: .05em;
    line-height: 1.2em;
}

.span-space {
    padding-top: 1em;
}

form {
    margin: 2em;
}

a {
    text-decoration: none;
    color:rgb(83, 136, 83);
    font-weight: 700;
}

.invalidInput {
    border: 1px solid red;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

label {
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    margin: 0.2em;
    color: rgb(99, 99, 99);
    font-weight: 600;
}

input {
    border: 1px solid rgb(193, 192, 192);
    border-radius: 5px;
    height: 2em;
    font-size: 1em;
}

input:focus {
    border: 1px solid blue;
    outline: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

::placeholder {
    font-style: italic;
}

.container {
    display: flex;
    width: 100vw;
    height: auto;
}

.hero-container {
    width: 33vw;
    height: 100vh;
    background: no-repeat url('/assets/img/nathan-dumlao-zUNs99PGDg0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.content-container {
    background-color: rgb(251, 247, 243);
    width: 67vw;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 33vw;
    margin-top: 15vh;
    background: rgba(0,0,0,0.6);
}

.credits {
    padding: 1em;
    font-weight: 400;
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
    align-self: center;
}

.shift {
    padding-top: 10vh;
}

.account {
    font-size: 1em;
    margin-left: 0;
}

.text-container {
    height: 35vh;
    font-size: 1.75vw;
    font-weight: 500;
}

.form-container > p {
    padding-top: 1em;
    padding-bottom: 1em;
}

.form-container {
    background-color: white;
    box-shadow: rgba(0,0,0,0.1) 2px 2px 5px;
    min-height: 45vh;
}

.form-div {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.form-line {
    display: flex;
    gap: 4em;
    margin-bottom: 2em;
}

.sign-in {
    display: flex;
    flex-direction: column;
    margin: 0 1em 1em 2em;
    gap: 1.5em;
}

@font-face {
    font-family: 'Norwester';
    src: url(/assets/fonts/norwester.otf);
}

button {
    height: 5vh;
    width: max(150px,12vw);
    background-color: rgb(120, 165, 120);
    border-radius: 5px;
    color: white;
    font-size: 1em;
    font-weight: 700;
    border: none;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

button:hover {
    background-color: rgb(135, 181, 135);
    cursor: pointer;
}

button:active {
    transform: translate(2px, 4px);
    background-color: rgb(138, 84, 48);
}

.invalid {
    color: red;
    font-size: 0.75em;
    margin: 0;
    margin-bottom: -1em;
    padding: 0.5em 0 0 0.5em;
}